@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

  body 
  {
    background-color: #ff0000cc;
  }

  h1 {
    text-align:center;
    font-family: "Pokemon";
    margin: 0;
  }
  
  h2, p {
    font-family: 'Roboto Mono', monospace;
  }

  .title {
    color: yellow;
  }

  .pokemon-list {
    display:flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 10px;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 25px;
    padding: 20px;
  }

  .pokemon {
    margin: 10px;
    padding: 20px;
    width: 200px;
    align-items: center;
    border-radius: 15px;
    color: #333;
    background-color: #ddd;
  }

  .pokemon:hover{
    color: #ff0000cc;
    transition: 0.3s;
  }

  .type-badge {
    color: white;
  }

  .pokemon img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  #loading-image {
    width: 200px;
    height: 200px;
    margin: auto;
  }

  .rotation {
      animation: rotation 2s infinite linear;
  }

  @keyframes rotation {
      from {
          transform: rotate(0deg);
      } to {
          transform: rotate(359deg);
      }
  }

  .loading {
      background-color: whitesmoke;
      width: 300px;
      height: 300px;
      justify-content: center;
      border-radius: 10%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 200px;
      text-align: center;
      padding: 20px;
  }

  .loading p {
    padding-top: 40px;
    font-size: 20px;
  }